<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CategoryMapper">
    <select id="getAllCategories" resultType="category">
        SELECT * FROM category;
    </select>

    <delete id="deleteCategoryByIds">
        DELETE FROM category WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--日期无需修改-->
    <update id="updateCategoryById" parameterType="category">
        UPDATE category SET cateName=#{cateName} WHERE id=#{id}
    </update>

    <!--前面并没有返回id回来-->
    <insert id="addCategory" parameterType="category">
        INSERT INTO category SET cateName=#{cateName}, date=#{date}
    </insert>
</mapper>